
/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.90);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);
@define-color content_inactive2 rgba(255, 255, 255, 0.80);

* {
	text-shadow: none;
	box-shadow: none;
  border: none;
  border-radius: 0;
	font-family: "Segoe UI", "Ubuntu";
  font-size: 12.7px;
}

window#waybar {
  background:  @bg_main;
  border-top: 1px solid @border_main;
  color: @content_main;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label{
  color: @content_main;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
  padding: 0 16px;
}
#custom-os_button:hover {
  background:  @bg_hover;
	color: @content_main;
}

#workspaces {
  color: transparent;
	margin-right: 10.5px;
	margin-left: 1.5px;
  transition: none;
  font-size: 100px;
  font-weight: 900;
  padding-right: 18px;
}

#workspaces button {
  font-weight: 900;
  padding: 3px;
  color: @content_inactive2;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: none;

}
#workspaces button.active {
	color: black;
  background:  rgba(170, 217, 254, 0.8);
}

#workspaces button.focused {
  color: @bg_active;
}

#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
}

#workspaces button:not(.active):hover {
  background: @bg_hover;
	color: @content_main;
}

#taskbar {
}

#taskbar button {
	min-width: 28px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.2);
	margin-left: 2px;
	margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  transition: none;
}

#taskbar button.active {
	border-bottom: 3px solid rgba(118, 185, 237, 1);
  background: @bg_active;
}

#taskbar button:not(.active):hover {
	border-bottom: 3px solid white;
  background: @bg_hover;
	color: @content_main;
}

#cpu, #disk, #memory {
	padding:3px;
}

#temperature {
	color: transparent;
	font-size: 0px;
}
#temperature.critical {
	padding-right: 3px;
	color: @warning_color;
	font-size: initial;
	border-bottom: 3px dashed @warning_color;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
}
#tray > .passive {
	border-bottom: none;
}
/* #tray > .active { */
/* 	border-bottom: 3px solid white; */
/* } */
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {

}
#tray > widget:hover {
	background: @bg_hover;
}
#pulseaudio,
#network,
#clock,
#tray image {
    padding: 0 6px;
}

#pulseaudio {
    min-width: 18px; 
    font-size: 18px;
}

#pulseaudio:hover {
 	background: @bg_hover;
}
/**/
#network {
    font-size: 18px;
}
#network:hover {
  background: @bg_hover;
}

#language {
  padding-left: 5px;
  padding-right: 5px;
}

#clock {
  font-weight: 600;
  padding-right: 10px
  /* padding-left: 5px; */
}
#clock:hover {
	background: @bg_hover;
}

#custom-screenrecorder {
    font-size: 16px;
    color: red;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid;
}

#custom-screenrecorder {
    font-size: 16px;
    color: red;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid;
}

menu {
    padding: 0;
    background: rgba(43, 43, 43, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: @content_main;
}

menuitem:hover {
    background:  @bg_hover;
    /* color: black; */
}
